@import './variable.scss';

@keyframes tourne {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to   { transform: translate(-50%, -50%) rotate(360deg); }
}

body{
    font-family: $font2;
    margin: 0;
    padding: 0;
    background-color:$sec-color;
}


* {
  cursor: none;
}

.cursor {
  pointer-events: none;
  z-index: 9999;

  &__icon {
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
    color: $third-color;
    font-size: 30px;
    transition: all 0.1s ease;
  }


  &--hover &__icon {
    color: $fifth-color;
    font-size: 45px;
    transform: translate(-50%, -50%) rotate(65deg); 
  }
    &--tourne &__icon {
    
    animation: tourne 0.8s linear infinite; 
  }

}