@import './global.scss';

*{

    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.2s ease-out;

}

body {
    justify-content: space-evenly;
}

header {
    max-width: 1980px;
    justify-content: space-evenly;
}

#s1, #s2{
    display: flex;
}

h1{
    color: $fourth-color;
    padding: 20px;
}


footer {
    max-width: 1980px;
    color:$fourth-color;
    padding: 20px;
    justify-self: center;
}


@media screen and (max-width :1024px) {
#s1, #s2, #s3{
    display: grid;
    grid-template-columns: 1fr;
}
}