@import './global.scss';


.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2{
    color: $fourth-color;
    padding-left: 20px;
}

input{
    color: $fifth-color;
    background-color: $third-color;
    border-radius: 12px;
    border-width: 0;
    margin-left: 20px;
    outline: none;
    padding: 2px 5px;
}

input::placeholder{
    color: $fifth-color;
    font-family: $font3;
}

.retourpj{
    display: inline-block;
    color: $third-color;
    padding-left: 20px;
}

.retourpj:hover{
    transform: scale(1.3);
    color: $fourth-color;
}

@media screen and (max-width :748px) {
.project-list{
    display: grid;
    grid-template-columns: 1fr;
}
}

.flip-card__back {
display: grid;
grid-template-columns: 1fr;
}