$primary-color: #03EA68;
$sec-color:#F7BB00;
$third-color: #DE0068;
$fourth-color:#0084FA;
$fifth-color:#87FF00;


$font1: 'Rubik Microbe', sans-serif;

$font2:"Ranchers", sans-serif;

$font3:"Ubuntu", sans-serif;

